@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
:root {
  --black: #030303;
  --gray: #7a746e;
  --purple: #755cde;
  --orange: #f6a560;
  --pink: #f39e9e;
  --redOrange: #eb7565;
  --neon: #61c4b7;
  --darkPurple: #552049;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: #fff7f0;
  min-height: 100vh;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--black);
}

.wrapper {
  padding: 18px;
}

/* navigation style */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: var(--black);
  color: white;
  padding: 10px 34px;

  border-radius: 30px;
  transition: 300ms ease-in-out;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: var(--purple);
  color: white;
}
button.orange {
  background-color: var(--redOrange);
}
button.orange:hover {
  background-color: var(--orange);
}

.main__header {
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}
.main__header h1 {
  font-size: 45px;
  line-height: 3.5rem;
}
.main__header p {
  color: var(--gray);
  margin-top: 20px;
}

/* navigation style */

/* skills style */
.skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills__left,
.skilld__right_container,
.skilld__center_container {
  position: relative;
}
.skills__left {
  width: 100%;
  min-height: 350px;
  padding: 20px;
  background-color: var(--purple);
  background-image: url(./images/pattern-graphic-design.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 20px;
  border-radius: 15px;
}

.skills_font {
  position: absolute;

  bottom: 20px;
  left: 20px;

  font-size: 25px;
  font-weight: 700;

  color: white;
}
.skills__center {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.skills__center > * {
  min-height: 175px;

  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 20px;
  border-radius: 15px;
}
.skilld__center_container:nth-child(1) {
  width: calc(50% - 15px);
  background-color: var(--orange);
  background-image: url(./images/pattern-ui-ux.svg);
}
.skilld__center_container:nth-child(2) {
  width: 50%;
  background-color: var(--pink);
  background-image: url(./images/pattern-apps.svg);
}
.skilld__center_container:nth-child(3) {
  width: 100%;
  background-color: var(--redOrange);
  background-image: url(./images/pattern-illustrations.svg);
}

.skills__right {
  display: flex;
  flex-direction: column;
}
.skills__right > * {
  min-height: 160px;

  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 20px;
  border-radius: 15px;
}
.skilld__right_container:nth-child(1) {
  width: 100%;
  background-color: var(--neon);
  background-image: url(./images/pattern-photography.svg);
}
.skilld__right_container:nth-child(2) {
  width: 100%;
  background-color: var(--darkPurple);
  background-image: url(./images/pattern-motion-graphics.svg);
  margin-top: 15px;
}
/* skills style */

/* amy profile */

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 15px;
  row-gap: 50px;
}
.presentation figure img {
  object-fit: contain;
  width: 100%;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}
.presentation__text p {
  color: var(--gray);
}

/* amy profile */

/* swiper custom styles */

.work h3 {
  text-align: center;
  font-size: 25px;
  margin: 25px 0;
}
.mySwiper {
  cursor: grab;
}
.swiper-slide {
  max-height: 350px;

  border-radius: 15px;
  overflow: hidden;
}
.swiper-slide figure image {
  object-fit: cover;
}
.swiper-slide figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* swiper custom styles */

/* contact banner */

.contact__banner {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  background-color: var(--black);
  padding: 25px 10px;
  border-radius: 15px;
  position: relative;
}

.contact__banner_text > * {
  color: white;
  text-align: center;
}
.contact__banner_text h4 {
  font-size: 30px;
}
.contact__banner_text p {
  margin: 20px 9px;
}
.contact__banner button {
  margin: 0 50px;
}
/* contact banner */

/*-------------------------------------------------------------------------------*/

/* tablet media query */

@media screen and (min-width: 650px) {
  body {
    overflow-x: hidden;
  }
  /* skills style */
  .skills {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills__left {
    width: calc(50% - 15px);
  }

  .skills__center {
    width: 50%;
  }

  .skills__right {
    width: 100%;
  }

  /* skills style */

  /* amy profile */

  .presentation {
    flex-direction: row;

    column-gap: 50px;
  }
  .presentation figure img {
    object-fit: contain;
    width: 130%;
    transform: translateX(-22%);
  }

  .presentation__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
  }
  .presentation__text p {
    color: var(--gray);
  }

  /* amy profile */

  /* swiper custom styles */

  .swiper-slide {
    max-height: auto;
  }

  /* swiper custom styles */

  /* contact banner */

  .contact__banner {
    display: flex;
    flex-direction: column;
    margin: 90px 0;
    background-color: var(--black);
    padding: 75px 10px;
    border-radius: 10px;
    position: relative;
  }

  .contact__banner_text > * {
    color: white;
    text-align: center;
    padding: 15px 55px;
  }
  .contact__banner_text h4 {
    font-size: 30px;
  }
  .contact__banner_text p {
    margin-bottom: 40px;
  }
  .contact__banner button {
    margin: 0 50px;
  }
  /* contact banner */
}

/* tablet media query */

@media screen and (min-width: 1000px) {
  .wrapper > *:not(:nth-child(5)) {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  /* skills style */
  .skills > * {
    width: auto;
    flex: 1;
  }

  .skills__right > * {
    flex: 1;
  }
  /* skills style */

  .presentation figure img {
    width: 100%;
    transform: translateX(0);
  }

  .presentation__text {
    text-align: left;
    row-gap: 30px;
  }
  .presentation__text h2 {
    font-size: 35px;
    font-weight: 700;
  }

  .presentation__text button {
    max-width: 50%;
  }

  /* amy profile */

  /* contact banner */

  .contact__banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 90px auto;
    background-color: var(--black);
    padding: 75px 10px;
    border-radius: 10px;
    position: relative;

    max-width: 1200px;
  }

  .contact__banner_text {
    flex: 1;
  }
  .contact__banner_text > * {
    text-align: left;
  }
  .contact__banner_text h4 {
    font-size: 30px;
    padding-bottom: 0;
  }
  .contact__banner_text p {
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 15px;
  }
  .contact__banner button {
    flex: 1/2;
    max-height: 50px;
  }
  /* contact banner */
}

@media screen and (min-width: 1700px) {
  .wrapper > *:not(:nth-child(5)) {
    max-width: 1400px;
  }
}
